#hdr {
    height: 54px;
    background-color: #10162A;
    display: flex;
}
.left {
    
    display: flex;
    align-items: center;
   
}
.right {
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.img {
    margin-right: 20px;
}
img.lg {
    width: 100px;
}
p{
    color: #ffffff;
    font-size:24px ;
    font-weight: 600;
}
.fnt {
    font-size: 23px;
    font-weight: 300;
}
.asse {
    display: flex;
    align-items: center;
    background-color: #182C61;
    height: 54px;
    padding: 20px;
}
.fnt1 {
   
    display: none;
}
.hub {
    padding: 20px;
}
.mnu {
    padding: 10px;
}


@media only screen and (max-width: 1035px) {
    .fnt1 {
        display: inline;
        color: black;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hub {
        display: none;
    }
    .asse {
        width: 50%;
    }
    .asse p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 554px ){
    .asse p {
        font-size: 12px;
    }
}
