<div class="main content">
    <div class="col-12 refresh">
       
        <p>Refresh All</p>
        <img src="assets/sync.svg" alt="">  
    </div>
    <div class="row">
        <div class="drop col-4">
            <div class="dpd"> 
                <label for="Rental HUB">Rental HUB</label>
                <kendo-dropdownlist [data]="listItems"  value="VOK-Asset Pool - Deer"  [fillMode]="'outline'" [size]="'small'"></kendo-dropdownlist>
            </div>
            <div> 
                <label for="Rental HUB">Region</label>
                <kendo-dropdownlist [data]="listItems"  value="US Gulf Coast"  [fillMode]="'outline'" [size]="'small'"></kendo-dropdownlist>
            </div>
        </div>
        <div class="chips col-8">
            <div class="bl clr"><div><h2>20</h2></div> <div><p>My Assets</p></div> </div>
            <div class="bl clr"> <div><h2>03</h2></div><div><p>Overdue</p></div> </div>
            <div class="bl clr" ><div><h2>11</h2></div><div><p>Units on Rent</p></div> </div>
            <div class="bl clr"><div><h2>01</h2></div> <div><p>I Need One Requests</p></div> </div>
            <div class="bl "><div><h2>00</h2></div> <div> <p>Conflicts</p></div></div>
            
            
            
            
        </div>
        </div>
    <div>
        <app-main-content></app-main-content>
    </div>

</div>
